body {
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.93);

  display: flex;
  justify-content: center;

  margin-top: 50px;
}

.app {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  gap: 25px;
  text-align: center;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.input-section {
  display: flex;
  gap: 10px;

  margin-bottom: 20px;
}

.task-text {
  transition: all 0.2s ease;
}

#taskInput {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
}

#addTaskButton, #pushupsButton {
  background-color: green;
  color: white;

  border: none;
  border-radius: 5px;

  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

#resetPushupsButton{
  background-color: red;
  color: white;

  border: none;
  border-radius: 5px;

  padding: 10px;
  cursor: pointer;
}

.important-btn {
  background-color: black;
  color: red;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  word-break: break-word;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.25s ease;
}

.important{
  background-color: gold;
  color: black;
  font-weight: bold;
  border-radius: 6px;
}

.important .important-btn {
  background-color: gold;
  color: black;
  border-radius: 50%;
  transition: all 0.25s ease;
}

.task.show {
  opacity: 1;
  transform: translateY(0);
}

.completed .task-text {
  transition: all 0.2s ease;
}

h1, #pushupsDiv, #taskContainer{
  color: rgb(255, 255, 255);
}

.task-text {
  flex: 1;
}

.remove-btn {
  background-color: red;
  color: white;

  border: none;
  border-radius: 5px;

  padding: 5px 10px;
  cursor: pointer;
}

.edit-btn {
  background-color: orange;
  color: white;

  border: none;
  border-radius: 5px;

  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#bibleVerse, #verse {
  font-style: oblique;
}